<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aninstein.mapper.AnchormapperPOMapper">
  <resultMap id="BaseResultMap" type="com.aninstein.po.AnchormapperPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="anchorname" jdbcType="VARCHAR" property="anchorname" />
    <result column="anchorroom" jdbcType="VARCHAR" property="anchorroom" />
    <result column="anchortable" jdbcType="VARCHAR" property="anchortable" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, anchorname, anchorroom, anchortable
  </sql>
  <select id="selectByExample" parameterType="com.aninstein.po.example.AnchormapperPOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from anchormapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from anchormapper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from anchormapper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aninstein.po.example.AnchormapperPOExample">
    delete from anchormapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aninstein.po.AnchormapperPO">
    insert into anchormapper (id, anchorname, anchorroom, 
      anchortable)
    values (#{id,jdbcType=INTEGER}, #{anchorname,jdbcType=VARCHAR}, #{anchorroom,jdbcType=VARCHAR}, 
      #{anchortable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aninstein.po.AnchormapperPO">
    insert into anchormapper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="anchorname != null">
        anchorname,
      </if>
      <if test="anchorroom != null">
        anchorroom,
      </if>
      <if test="anchortable != null">
        anchortable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="anchorname != null">
        #{anchorname,jdbcType=VARCHAR},
      </if>
      <if test="anchorroom != null">
        #{anchorroom,jdbcType=VARCHAR},
      </if>
      <if test="anchortable != null">
        #{anchortable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aninstein.po.example.AnchormapperPOExample" resultType="java.lang.Long">
    select count(*) from anchormapper
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update anchormapper
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.anchorname != null">
        anchorname = #{record.anchorname,jdbcType=VARCHAR},
      </if>
      <if test="record.anchorroom != null">
        anchorroom = #{record.anchorroom,jdbcType=VARCHAR},
      </if>
      <if test="record.anchortable != null">
        anchortable = #{record.anchortable,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update anchormapper
    set id = #{record.id,jdbcType=INTEGER},
      anchorname = #{record.anchorname,jdbcType=VARCHAR},
      anchorroom = #{record.anchorroom,jdbcType=VARCHAR},
      anchortable = #{record.anchortable,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aninstein.po.AnchormapperPO">
    update anchormapper
    <set>
      <if test="anchorname != null">
        anchorname = #{anchorname,jdbcType=VARCHAR},
      </if>
      <if test="anchorroom != null">
        anchorroom = #{anchorroom,jdbcType=VARCHAR},
      </if>
      <if test="anchortable != null">
        anchortable = #{anchortable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aninstein.po.AnchormapperPO">
    update anchormapper
    set anchorname = #{anchorname,jdbcType=VARCHAR},
      anchorroom = #{anchorroom,jdbcType=VARCHAR},
      anchortable = #{anchortable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>